<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moeats.mappers.DeliveryAddressMapper" >
	<select id="findAll" resultType="DeliveryAddress">
		SELECT * FROM delivery_address
	</select>
	<select id="findByIdx" resultType="DeliveryAddress">
		SELECT * FROM delivery_address WHERE delivery_address_idx = #{deliveryAddressIdx}
	</select>
	<select id="findByMember" resultType="DeliveryAddress">
		SELECT * FROM delivery_address WHERE member_idx = #{memberIdx}
	</select>
	<insert id="insert" parameterType="DeliveryAddress">
		INSERT INTO delivery_address(
			member_idx,
			delivery_label,
			recipient_name,
			recipient_phone,
			zip_code,
			delivery_address1,
			delivery_address2,
			delivery_request,
			is_active
		) VALUES (
			#{memberIdx},
			#{deliveryLabel},
			#{recipientName},
			#{recipientPhone},
			#{zipCode},
			#{deliveryAddress1},
			#{deliveryAddress2},
			#{deliveryRequest},
			TRUE
		)
	</insert>
	<update id="update" parameterType="DeliveryAddress">
		UPDATE delivery_address SET
			delivery_label		= #{deliveryLabel},
			recipient_name		= #{recipientName},
			recipient_phone		= #{recipientPhone},
			zip_code			= #{zipCode},
			delivery_address1	= #{deliveryAddress1},
			delivery_address2	= #{deliveryAddress2},
			delivery_request	= #{deliveryRequest}
		WHERE delivery_address_idx	= #{deliveryAddressIdx}
	</update>
	<update id="inactivate" parameterType="int">
		UPDATE delivery_address SET
			is_active				= FALSE
		WHERE delivery_address_idx	= #{deliveryAddressIdx}
	</update>
</mapper>