<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moeats.mappers.GroupOrderItemMapper">
	<select id="findAll" resultType="GroupOrderItem">
		SELECT * FROM group_order_item
	</select>
	<select id="findByIdx" resultType="GroupOrderItem">
		SELECT * FROM group_order_item WHERE order_item_idx = #{orderItemIdx}
	</select>
	<select id="findByOrder" resultType="GroupOrderItem">
		SELECT * FROM group_order_item WHERE order_idx = #{orderIdx}
	</select>
	<select id="findByOrderMember" resultType="GroupOrderItem">
		SELECT * FROM group_order_item WHERE order_idx = #{orderIdx} AND member_idx = #{memberIdx}
	</select>
	<select id="findOrderMemberAmount" resultType="GroupOrderItem">
		SELECT member_idx, SUM(item_total_amount) as item_total_amount
		FROM group_order_item WHERE order_idx = #{orderIdx} AND item_status = 'ACTIVE'
		GROUP BY member_idx
	</select>
	<insert id="insert" parameterType="GroupOrderItem">
		INSERT INTO group_order_item(
			order_idx,
			member_idx,
			menu_idx,
			menu_name_snapshot,
			menu_price_snapshot,
			item_quantity,
			base_amount,
			option_extra_amount,
			item_total_amount
		) VALUES (
			#{orderIdx},
			#{memberIdx},
			#{menuIdx},
			#{menuNameSnapshot},
			#{menuPriceSnapshot},
			#{itemQuantity},
			#{baseAamount},
			#{optionExtraAmount},
			#{itemTotalAmount}
		)
	</insert>
</mapper>