<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moeats.mappers.OrderDeliveryMapper">
	<select id="findAll" resultType="OrderDelivery">
		SELECT * FROM order_delivery
	</select>
	<select id="findByIdx" resultType="OrderDelivery">
		SELECT * FROM order_delivery WHERE order_delivery_idx = #{orderDeliveryIdx}
	</select>
	<select id="findByOrder" resultType="OrderDelivery">
		SELECT * FROM order_delivery WHERE order_idx = #{orderIdx}
	</select>
	<insert id="insert" parameterType="OrderDelivery">
		INSERT INTO order_delivery(
			order_idx,
			source_delivery_address_idx,
			recipient_name,
			recipient_phone,
			zip_code,
			delivery_address1,
			delivery_address2,
			delivery_request
		) VALUES (
			#{orderIdx},
			#{sourceDeliveryAddressIdx},
			#{recipientName},
			#{recipientPhone},
			#{zipCode},
			#{deliveryAddress1},
			#{deliveryAddress2},
			#{deliveryRequest}
		)
	</insert>
</mapper>