<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moeats.mappers.StoreMenuMapper">
	<select id="findAll" resultType="StoreMenu">
		SELECT * FROM store_menu
	</select>
	<select id="findByIdx" resultType="StoreMenu">
		SELECT * FROM store_menu WHERE menu_idx = #{menuIdx}
	</select>
	<select id="findByStore" resultType="StoreMenu">
		SELECT * FROM store_menu WHERE store_idx = #{storeIdx}
	</select>
	<select id="findByName" resultType="StoreMenu">
		SELECT * FROM store_menu WHERE menu_name LIKE CONCAT('%',#{menuName},'%')
	</select>
	<select id="findByNameStore" resultType="StoreMenu">
		SELECT * FROM store_menu WHERE store_idx = #{storeIdx} AND menu_name LIKE CONCAT('%',#{menuName},'%')
	</select>
	<insert id="insert" parameterType="StoreMenu">
		INSERT INTO store_menu(
			store_idx,
			menu_name,
			menu_description,
			menu_price,
			menu_status,
			display_order
		) VALUES (
			#{storeIdx},
			#{menuName},
			#{menuDescription},
			#{menuPrice},
			'HIDDEN',
			#{displayOrder}
		)
	</insert>
	<update id="update" parameterType="StoreMenu">
		UPDATE store_menu SET
			menu_name		= #{menuName},
			menu_description= #{menuDescription},
			menu_price		= #{menuPrice}
		WHERE menu_idx		= #{menuIdx}
	</update>
	<update id="reorder">
		UPDATE store_menu SET
			display_order	= #{displayOrder}
		WHERE menu_idx		= #{menuIdx}
	</update>
	<update id="available" parameterType="int">
		UPDATE store_menu SET
			menu_status		= 'AVAILABLE'
		WHERE menu_idx		= #{menuIdx}
	</update>
	<update id="soldOut" parameterType="int">
		UPDATE store_menu SET
			menu_status		= 'SOLD_OUT'
		WHERE menu_idx		= #{menuIdx}
	</update>
	<update id="hide" parameterType="int">
		UPDATE store_menu SET
			member_status	= 'HIDDEN'
		WHERE menu_idx		= #{menuIdx}
	</update>
</mapper>