<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.moeats.mapper.StoreMenuCategoryMapper">
	<select id="getCategory" resultType="StoreMenuCategory">
		select * from store_menu_category
			where menu_category_idx = #{menuCategoryIdx}
	</select>
	
	<select id="getCategoryByStore" resultType="StoreMenuCategory">
		select * from store_menu_category
			where store_idx = #{storeIdx}
	</select>
	
	<insert id="insertCategory" parameterType="StoreMenuCategory"
			useGeneratedKeys="true" keyProperty="menuCategoryIdx">
		insert into store_menu_category 
			(store_idx, category_name, display_order)
		values
			(#{storeIdx}, #{categoryName}, #{displayOrder})
	</insert>
	
	<update id="updateCategory" parameterType="StoreMenuCategory">
		update store_menu_category set
			category_name = #{categoryName},
			display_order = #{displayOrder}
		where menu_category_idx = #{menuCategoryIdx}
		  and store_idx = #{storeIdx}
	</update>
	
	<delete id="deleteCategory">
		delete from store_menu_category
			where menu_category_idx = #{menuCategoryIdx}
			  and store_idx = #{storeIdx}
	</delete>
</mapper>



