<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moeats.mappers.StoreMapper" >
	<select id="findAll" resultType="Store">
		SELECT * FROM store
	</select>
	<select id="findByIdx" resultType="Store">
		SELECT * FROM store WHERE store_idx=#{storeIdx}
	</select>
	<select id="findByOwner" resultType="Store">
		SELECT * FROM store WHERE owner_member_idx=#{ownerMemberIdx}
	</select>
	<select id="findByName" resultType="Store">
		SELECT * FROM store WHERE store_name LIKE CONCAT('%',#{storeName},'%')
	</select>
	<select id="findByPosition" resultType="Store" parameterType="Map">
		SELECT * FROM (
			SELECT *,	POW((longitude - #{longitude}) * COS(RADIANS(#{latitude})),2)
						+ POW(latitude - #{latitude},2) as distance_squared
			FROM store
			WHERE longitude - #{longitude} BETWEEN -0.07 AND 0.07
			  AND latitude  - #{latitude}  BETWEEN -0.05 AND 0.05
			  		/* 대충 가로 세로 5km 상자 영역*/
		)
		WHERE distance_squared &lt; 0.0025
		ORDER BY distance_squared
	</select>
	<insert id="insert" parameterType="Store">
		INSERT INTO store(
			owner_member_idx,
			store_name,
			store_description,
			store_phone,
			minimum_order_amount,
			store_address1,
			store_address2,
			supports_delivery,
			supports_onsite,
			store_status,
			longitude,
			latitude
		) VALUES (
			#{ownerMemberIdx},
			#{storeName},
			#{storeDescription},
			#{storePhone},
			#{minimumOrderAmount},
			#{storeAddress1},
			#{storeAddress2},
			#{supportsDelivery},
			#{supportsOnsite},
			'ACTIVE',
			#{longitude},
			#{latitude}
		)
	</insert>
	<update id="update" parameterType="Store">
		UPDATE store SET
			store_name			= #{storeName},
			store_description	= #{storeDescription},
			store_phone			= #{storePhone},
			minimum_order_amount= #{minimumOrderAmount},
			store_address1		= #{storeAddress1},
			store_address2		= #{storeAddress2},
			supports_delivery	= #{supportsDelivery},
			supports_onsite		= #{supportsOnsite},
			longitude			= #{longitude},
			latitude			= #{latitude}
		WHERE store_idx			= #{storeIdx}
	</update>
	<update id="activate" parameterType="int">
		UPDATE store SET
			member_status	= 'ACTIVE'
		WHERE store_idx		= #{storeIdx}
	</update>
	<update id="inactivate" parameterType="int">
		UPDATE store SET
			member_status	= 'INACTIVE'
		WHERE store_idx		= #{storeIdx}
	</update>
	<update id="pause" parameterType="int">
		UPDATE store SET
			member_status	= 'PAUSED'
		WHERE store_idx		= #{storeIdx}
	</update>
</mapper>