<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--	
	마이바티스 참고 사이트
	  - http://blog.mybatis.org/
	  - http://www.mybatis.org/mybatis-3/ko/index.html
	  
	@Mapper 애노테이션이 적용된 인터페이스와 맵퍼 XML파일은
	namespace 속성으로 연결되기 때문에 맵퍼 XML의 namespace를
	지정할 때 @Mapper 애노테이션이 적용된 맵퍼 인터페이스의
	완전한 클래스 이름(패키지를 포함한 이름)을 지정하면 된다.   
-->
<mapper namespace="com.moeats.mapper.StoreMenuCategoryMapper">
	
	<delete id="deleteCategory">
		delete from storeMenuCategory
			where menu_category_idx = #{menuCategoryIdx}
			  and store_idx = #{storeIdx}
	</delete>
	
	<update id="updateCategory" parameterType="StoreMenuCategory">
		update storeMenuCategory set
			category_name = #{categoryName},
			display_order = #{displayOrder}
		where menu_category_idx = #{menuCategoryIdx}
		  and store_idx = #{storeIdx}
	</update>
	
	<insert id="insertCategory" parameterType="StoreMenuCategory"
			useGeneratedKeys="true" keyProperty="menuCategoryIdx">
		insert into storeMenuCategory 
			(store_idx, category_name, display_order)
		values
			#{storeIdx}, #{categoryName}, #{displayOrder}
	</insert>
	
	
	<select id="getCategory" resultType="StoreMenuCategory">
		select * from storeMenuCategory
			where menu_category_idx = #{menuCategoryIdx}
	</select>
	<select id="getCategoryByStoreIdx" resultType="StoreMenuCategory">
		select * from storeMenuCategory
			where store_idx = #{storeIdx}
	</select>
	
</mapper>



