<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
    <title>Mo-Eats 사업자 회원가입</title>
</head>
	<th:block layout:fragment="content">
		
		<div class="row">
			<div class="col">
			
				<div class="row">
					<div class="col">
						<h2>회원 가입(사업자)</h2>
					</div>
				</div>
				
				<form action="/members" name="signupForm" id="signupForm" method="post">
					<input type="hidden" name="isIdCheck" id="isIdCheck" value="false">
					
					<div class="row">
						<div class="col">
							<label for="email_id">* 이메일 : </label>
							
							<div class="row">
								<div class="col">
									<input type="text" name="email_id" id="email_id">
								</div>@
								
								<div class="col">
									<input type="text" id="email_domain" name="email_domain">
								</div>
								
								<div class="col">
									<select name="selectDomain" id="selectDomain">
										<option>직접입력</option>
										<option>네이버</option>
										<option>다음</option>
										<option>Gmail</option>
									</select>
								</div>
								<div class="col">
									<input type="button" id="btnOverlapId" value="중복확인">
								</div>
							<input type="hidden" name="memberEmail" id="memberEmail">
							</div>
						</div>
					</div>
					
					
					<div class="row">
						<div class="col">
							<label for="memberPassword">* 비밀번호 : </label>
							<input type="password" name="memberPassword" id="memberPassword">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="memberPassword1">* 비밀번호 확인 : </label>
							<input type="password" name="memberPassword1" id="memberPassword1">
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label for="memberNickname">* 별 명 : </label>
							<input type="text" name="memberNickname" id="memberNickname" maxlength="10">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="phone2">* 휴대폰 : </label>
							<div class="row">
								<div class="col">
							        <input type="text" name="phone1" id="phone1" value="010" maxlength="3">
							    </div>-
							    <div>
							        <input type="text" name="phone2" id="phone2" maxlength="4">
							    </div>-
							    <div>
							        <input type="text" name="phone3" id="phone3" maxlength="4">
								</div>
								<input type="hidden" name="memberPhone" id="memberPhone">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col">
									<label>* 구 분 : </label>
									<input type="text" value="사업자" readonly>
									<input type="hidden" name="memberRoleType" id="memberRoleType" value="OWNER">
								</div>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<input type="button" th:onclick="@{|location.href='/main'|}" value="메인으로" class="btn">
							<input type="button" th:onclick="@{|location.href='/members/createType'|}" value="다시 선택" class="btn">
							<input type="submit" value="회원가입" class="btn">
						</div>
					</div>
				</form>
			</div>
		</div>
	
	
	</th:block>
</html>
