<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
    <title>Mo-Eats 일반 회원가입</title>
</head>
	<th:block layout:fragment="content">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/js/member.js"></script>
		<div class="row">
			<div class="col">
			
				<div class="row">
					<div class="col">
						<h2>회원 가입(사업자)</h2>
					</div>
				</div>
				
				<form action="/members" name="signupForm" id="signupForm" method="post">
					<input type="hidden" name="isIdCheck" id="isIdCheck" value="false">
					
					<div class="row">
						<div class="col">
							<label for="email_id">* 이메일 : </label>
							
							<div class="row">
								<div class="col">
									<input type="text" name="email_id" id="email_id">
								</div>@
								
								<div class="col">
									<input type="text" id="email_domain" name="email_domain">
								</div>
								
								<div class="col">
									<select name="selectDomain" id="selectDomain">
										<option>직접입력</option>
										<option>네이버</option>
										<option>다음</option>
										<option>Gmail</option>
									</select>
								</div>
								<div class="col">
									<input type="button" id="btnOverlapId" value="중복확인">
								</div>
							<input type="hidden" name="memberEmail" id="memberEmail">
							</div>
						</div>
					</div>
					
					
					<div class="row">
						<div class="col">
							<label for="pass1">* 비밀번호 : </label>
							<input type="password" name="memberPassword" id="memberPassword">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="pass1">* 비밀번호 확인 : </label>
							<input type="password" name="memberPassword1" id="memberPassword1">
						</div>
					</div>
					
					<div class="row">
						<div class="col">
							<label for="memberNickname">* 별 명 : </label>
							<input type="text" name="memberNickname" id="memberNickname" maxlength="10">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<label for="phone2">* 휴대폰 : </label>
							<div class="row">
								<div class="col">
							        <input type="text" name="phone1" id="phone1" value="010" maxlength="3">
							    </div>-
							    <div>
							        <input type="text" name="phone2" id="phone2" maxlength="4">
							    </div>-
							    <div>
							        <input type="text" name="phone3" id="phone3" maxlength="4">
								</div>
								<input type="hidden" name="memberPhone" id="memberPhone">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="row">
								<div class="col">
									<label>* 구 분 : </label>
									<input type="text" value="사업자" readonly>
									<input type="hidden" name="memberRoleType" id="memberRoleType" value="OWNER">
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row mt-3">
					    <div class="col">
					
					        <div style="border:1px solid #ddd; padding:15px; height:120px; overflow-y:auto;">
					            <b>[이용약관]</b><br>
					            본 서비스는 회원에게 배달 주문 서비스를 제공합니다.<br>
					            회원은 서비스 이용 시 관련 법령을 준수해야 합니다.<br>
					            ...
					            <br><br>
					            <b>[개인정보 처리방침]</b><br>
					            수집 항목: 이메일, 전화번호, 닉네임<br>
					            이용 목적: 회원 관리 및 서비스 제공<br>
					            ...
					        </div>
					
					        <div style="margin-top:10px;">
					            <input type="checkbox" id="agreeAll">
					            <label for="agreeAll"><b>전체 동의</b></label>
					        </div>
					
					        <div>
					            <input type="checkbox" name="agreeTerms" id="agreeTerms">
					            <label for="agreeTerms">(필수) 이용약관 동의</label>
					        </div>
					
					        <div>
					            <input type="checkbox" name="agreePrivacy" id="agreePrivacy">
					            <label for="agreePrivacy">(필수) 개인정보 처리방침 동의</label>
					        </div>
					
					    </div>
					</div>
					
					<div class="row">
						<div class="col">
							<input type="button" th:onclick="@{|location.href='/main'|}" value="취 소" class="btn">
							<input type="button" th:onclick="@{|location.href='/members/createType'|}" value="다시 선택" class="btn">
							<input type="submit" value="회원가입" class="btn" id="submitBtn"  disabled>
						</div>
					</div>
					
				</form>
			</div>
		</div>
	
	
	</th:block>
</html>
