<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
	
<head>
    <title>Mo-Eats 회원가입</title>
</head>
	<th:block layout:fragment="content">
	<div class="row">
		<div class="col">
			
			<div class="row">
				<div class="col">
					<h4>회원가입 유형 선택</h4>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<input type="button" th:onclick="@{location.href='/members/new-user'}" value="일반회원">
				</div>
				
				<div class="col">
					<input type="button" th:onclick="@{location.href='/members/new-owner'}" value="사업자회원">	
					
				</div>
			</div>
			<input type="button" th:onclick="@{|location.href='/main'|}" value="취 소" class="btn">
			
		</div>
	</div>
	</th:block>
</html>
