<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main_layout}">
<head>
    <title>Mo-Eats 마이페이지</title>
</head>
	
	<div class="row">
		<div class="col">
			
			<div class="row">
				<div class="col">
					<h2>프로필 관리</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							이메일
						</div>
					</div>
					<div class="row">
						<div class="col">
							<input type="text" th:value="${session.member.memberEmail}" readonly>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							닉네임
						</div>
					</div>
					<div class="row">
						<div class="col">
							<input type="text" th:value="${session.member.memberNickname}" readonly>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							배달 주소 관리
						</div>
						<div class="col">
							<input type="button" th:onclick="@{location.href='/members/me/addresses'}" value="추가">
							<input type="button" th:onclick="@{location.href='/members/me/addresses/{deliveryAddressIdx}/edit'}" value="수정">
							<input type="button" th:onclick="@{location.href='/members/me/addresses/{deliveryAddressIdx}/delete'}" value="삭제">
						</div>
					</div>
					<div class="row">
						<div class="col">
							<input type="text" name="deliveryAddress"
							       th:value="${deliveryAddress != null 
							           ? deliveryAddress.deliveryAddress1 
							             + (deliveryAddress.deliveryAddress2 != null ? ' ' + deliveryAddress.deliveryAddress2 : '') 
							           : '등록된 기본 주소 없음'}"
							       readonly>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input type="button" th:onclick="@{location.href='/members/me/edit'}" value="회원정보수정">
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<a href="#">회원탈퇴</a>&nbsp;·&nbsp;
					<a href="/logout">로그아웃</a>
				</div>
			</div>
			
			
		</div>
	</div>
	
</html>
