<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<head>

<meta charset="UTF-8">

<title>회원 정보 수정</title>

<style>
body {
	font-family: Arial, sans-serif;
	background: #f7f7f7;
}

.form-label {
	font-weight: bold;
}
</style>

</head>

<body>

	<div layout:fragment="pageContent" class="container">



		<div class="row my-5" id="global-content">

			<div class="col">

				<div class="row my-3 text-center">

					<div class="col">

						<h2 class="fs-3 fw-bold">회원 정보 수정</h2>

					</div>

				</div>



				<div class="modal fade" id="passwordResultModal" tabindex="-1"
					aria-hidden="true">

					<div class="modal-dialog modal-dialog-centered">

						<div class="modal-content">

							<div class="modal-header"
								style="background-color: #252D59; color: white;">

								<h5 class="modal-title">보안 확인</h5>

								<button type="button" class="btn-close btn-close-white"
									data-bs-dismiss="modal"></button>

							</div>


						</div>

					</div>

				</div>



				<form th:action="@{/members/me/edit}" method="post"
					id="memberUpdateForm">

					<div class="row mt-5 mb-3">

						<div class="col-8 offset-2">

							<label class="form-label">* 이 름 : </label> <input type="text"
								class="form-control" name="memberNickname"
								th:value="${session.member.memberNickname}" readonly>

						</div>

					</div>



					<div class="row my-3">

						<div class="col-8 offset-2">

							<label class="form-label">* 아이디 : </label> <input type="text"
								class="form-control" name="memberEmail"
								th:value="${session.member.memberEmail}" readonly>

						</div>

					</div>



					<div class="row my-3">

						<div class="col-8 offset-2">

							<label class="form-label">* 기존 비밀번호 : </label>

							<div class="d-flex gap-2">

								<input type="password" class="form-control"
									name="memberPassword" id="memberPassword">

								<button type="button" class="btn btn-warning" id="btnPassCheck"
									style="white-space: nowrap;">비밀번호 확인</button>

							</div>

						</div>

					</div>



					<div class="row my-3">

						<div class="col-8 offset-2">

							<label for="pass1" class="form-label">* 새 비밀번호 : </label> <input
								type="password" class="form-control" name="pass1" id="pass1">

						</div>

					</div>

					<div class="row my-3">

						<div class="col-8 offset-2">

							<label for="pass2" class="form-label">* 새 비밀번호 확인 : </label> <input
								type="password" class="form-control" name="pass2" id="pass2">

						</div>

					</div>



					<div class="row my-3">

						<div class="col-8 offset-2">

							<label for="address1" class="form-label">* 자택주소 : </label> <input
								type="text" class="form-control" name="address1" id="address1"
								readonly>

						</div>

					</div>

					<div class="row my-3">

						<div class="col-8 offset-2">

							<label for="address2" class="form-label">상세주소 : </label> <input
								type="text" class="form-control" name="address2" id="address2">

						</div>

					</div>



					<div class="row my-3">

						<div class="col-8 offset-2">

							<label class="form-label">* 휴 대 폰 : </label>

							<div class="input-group">

								<select class="form-select" name="phoneFirst"
									style="max-width: 100px;">

									<option
										th:selected="${session.member.memberPhone.split('-')[0] == '010'}">010</option>

									<option
										th:selected="${session.member.memberPhone.split('-')[0] == '011'}">011</option>

								</select> <input type="text" class="form-control" name="memberPhone"
									th:value="${session.member.memberPhone}">

							</div>

						</div>

					</div>



					<div class="row my-5">

						<div class="col-8 offset-2 text-center">

							<button type="submit" class="btn btn-primary btn-lg w-100">정보

								수정하기</button>

						</div>

					</div>

				</form>

			</div>

		</div>





		<th:block layout:fragment="pageScripts">

			<script
				src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

			<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

			<script
				src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>



			<script th:src="@{/js/member.js}"></script>

			<script th:inline="javascript">
				$(function() {

					$("#btnPassCheck")

							.on(

									"click",

									function() {

										const password = $("#memberPassword")

										.val();

										if (!password) {

											showModal("기존 비밀번호를 입력해주세요.");

											return;

										}

										/* [임시 테스트 모드]

										 서버가 없으므로 AJAX를 실행하지 않고,

										 성공(true) 상황을 가정해서 바로 모달을 띄웁니다.

										 */

										console.log("테스트 모드: 서버 없이 모달을 띄웁니다.");

										// 이 부분을 true로 두면 성공 모달, false로 두면 실패 모달이 뜹니다.

										const fakeResponse = {

											isValid : true

										};

										if (fakeResponse.isValid) {

											showModal('<span style="color: #252D59;">✔️ (테스트) 확인되었습니다.</span>');

											$("#memberPassword").prop(

											"readonly", true);

											$("#btnPassCheck").prop("disabled",

											true).text("확인완료");

										} else {

											showModal('<span style="color: #dc3545;">❌ (테스트) 비밀번호가 틀렸습니다.</span>');

											$("#memberPassword").val("")

											.focus();

										}

									});

				});
			</script>
	</div>

</body>

</html>