<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/main_layout}">

<!-- 
컨트롤러가 GroupCartItem 객체를 통째로 폼 파라미터로 받으므로 순수 HTML <form> 전송으로 묶어주는 것이 가장 완벽하게 호환된다고(4.1)
<form th:action="@{/rooms/code/{code}/cart(code=${roomCode})}" method="post" id="cartAddForm">
    <table border="1">
        <tbody>
            <tr>
                <td><input type="radio" name="menuRadio" value="1" data-name="후라이드 치킨" data-price="18000"></td>
                <td>후라이드 치킨</td>
                <td>18,000원</td>
                <td><input type="number" class="menu-qty" value="1" min="1"></td>
            </tr>
        </tbody>
    </table>
    
    <input type="hidden" name="menuName" id="inputMenuName">
    <input type="hidden" name="price" id="inputPrice">
    <input type="hidden" name="quantity" id="inputQuantity">

    <button type="submit" id="btnAddToCart">장바구니에 담기</button>
</form>
 -->


<div layout:fragment="content">
    <h2>메뉴 선택</h2>
    <p>원하는 메뉴와 수량을 선택하여 장바구니에 담으세요.</p>

    <section id="dummyMenuSection">
        <h3>테스트 비상구 치킨 - 메뉴 목록</h3>
        <table border="1" style="width:100%; text-align:center;">
            <thead>
                <tr>
                    <th>선택</th>
                    <th>메뉴명</th>
                    <th>가격</th>
                    <th>수량</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="radio" name="dummyMenu" value="1" checked></td>
                    <td>후라이드 치킨</td>
                    <td>18,000원</td>
                    <td><input type="number" value="1" style="width:40px;"></td>
                </tr>
                <tr>
                    <td><input type="radio" name="dummyMenu" value="2"></td>
                    <td>양념 치킨</td>
                    <td>19,000원</td>
                    <td><input type="number" value="1" style="width:40px;"></td>
                </tr>
                <tr>
                    <td><input type="radio" name="dummyMenu" value="3"></td>
                    <td>콜라 1.25L</td>
                    <td>3,000원</td>
                    <td><input type="number" value="1" style="width:40px;"></td>
                </tr>
            </tbody>
        </table>
        <br>
        <button type="button" id="btnTestAddToCart">장바구니에 담기 (더미)</button>
        <button type="button" onclick="history.back()">취소</button>
    </section>

    <hr>

    <section id="testNav">
        <p><strong>[테스트] 화면 이동 확인용</strong></p>
        <button type="button" id="btnTestBackToDetail">
            ← 주문방 상세(협업) 화면으로 돌아가기
        </button>
    </section>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/test/cart-item.test.js"></script>
</div>
</html>