<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header th:fragment="header">
    <nav>
    	<h2>테스트용헤더</h2>
        <a th:href="@{/}">홈페이지</a>
        &nbsp;|&nbsp;
        <a th:href="@{/stores}">가게 목록</a>
        &nbsp;|&nbsp;
        <a th:href="@{/room/join}">주문방참여테스트페이지</a>
        &nbsp;|&nbsp;
        <span th:if="${session.loginMember != null}">
            <span th:text="${session.loginMember.name}">로그인하면멤버이름나옴</span>
            &nbsp;
            <a th:href="@{/members/mypage}">마이페이지</a>
            &nbsp;|&nbsp;
            <a th:href="@{/logout}">로그아웃</a>
        </span>
        <span th:unless="${session.loginMember != null}">
            <a th:href="@{/login}">로그인</a>
            &nbsp;|&nbsp;
            <a th:href="@{/members/new}">회원가입</a>
        </span>
    </nav>
    <hr>
</header>

</html>
