<!DOCTYPE html>
<!--/* 
	Thymeleaf와 Thymeleaf Layout을 사용하기 위한 NameSpace를 정의한다.
	layout:decorate 옵션은 아래의 <th:block layout:fragment="content">
	부분을 어떤 레이아웃에 적용할지 설정하는 것
*/ -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/main_layout}">
<!-- /* 
	block을 사용해도 되고 div에 직접 layout:fragment를 적용해도 된다.
	main_layout.html에서 지정한 layout:fragment의 이름과 같아야 한다.
*/ -->
<!-- 
	새로운 5자리 우편번호로 회원 주소를 입력 받기 위해 daum.net에서
	제공하는 우편번호 찾기 API를 사용하였다.
	참고 사이트 : http://postcode.map.daum.net/guide
 -->
 <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
 	<div class="row my-5" id="global-content">
<div class="col">
<div class="row my-3 text-center">
<div class="col">
<h2 class="fs-3 fw-bold">회원 정보 수정</h2>
</div>
</div>
<form action="updateResult" name="updateForm" method="post" id="updateForm">
	<div class="row mt-5 mb-3">
		<div class="col-8 offset-2">
			<label for="name" class="form-label">* 이름 : </label>
			<input type="text" class="form-control" name="name" id="name"
			th:value="${session.member.name}" readonly>
			</div>
			</div>
			<div class="row my-3">
				<div class="col-8 offset-2">
					<label for=""></label>
				</div>
			</div>
			</input>
		
		</div>
	</div>
</form>
<head>
<meta charset="UTF-8">
<title>회원 수정</title>
</head>
<body>
 비번확인하고 
 만약 안맞을 시 비밀번호를 확인해주세요
 회원 정보 수정 폼 띄우기 수정하기 다시 돌아오기
</body>
</html>